<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="unet_studio" translate="label" sortOrder="1">
            <label>UNET Studio</label>
        </tab>
        <section id="social_share" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Social Share</label>
            <tab>unet_studio</tab>
            <resource>Unet_SocialShare::unet_studio</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Unet\SocialShare\Model\Config\Source\Enable</source_model>
                </field>
            </group>
            <group id="network" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Social Network</label>
                <field id="twitter_site_name" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter Site Name</label>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                    <comment>The site name for Twitter share (e.g: unetstudio)</comment>
                </field>
            </group>
        </section>
    </system>
</config>